{{define "title"}}Wiki{{end}}
{{define "style"}}wiki{{end}}
{{define "additionalHeaders"}}
		<script type="text/css" src="wiki.js"></script>
{{end}}
{{define "body"}}<div id="wikiContent">{{.}}</div>
{{end}}

